<?xml version="1.0" encoding="UTF-8"?>
<!--启动项设置为 trace，加载 springboot 启动内部各种详细输出-->
<Configuration>
    <Appenders>
        <!--添加一个控制台追加器-->
        <Console name="console" target="SYSTEM_OUT">
			<PatternLayout
					pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
        <!--添加一个文本追加器，文件位于根目录下，名为log.log-->
        <RollingFile name="file" fileName="/apps/logs/service-c.log" filePattern="/apps/logs/service-c_%d{yyyy-MM-dd}_%i.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="512000 KB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
    </Appenders>
    <Loggers>
        <!--记录 com.ouyeel.ygj 包及其子包 debug 及其以上的记录，并输出到文件中-->
        <Logger name="com.ouyeel" level="info" additivity="false">
            <!-- AppenderRef 可以控制文件输出对象-->
            <AppenderRef ref="file" />
            <AppenderRef ref="console"/>
            <AppenderRef ref="mongoAppender"/>
        </Logger>
        <!-- sql loggers -->
        <Logger name="org.mybatis" level="info">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="java.sql" level="info">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <!--根记录全部输出到控制台上-->
        <Root level="warn">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>