<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ouyeel.provider.servicep.common.mapper.DubboparamsMapper">
	<resultMap type="com.ouyeel.provider.servicep.common.domain.Dubboparams" id="Dubboparams">
		<result property="id" column="ID" />
		<result property="code" column="CODE" />
		<result property="interface_name" column="INTERFACE_NAME" />
		<result property="method_name" column="METHOD_NAME" />
		<result property="service_version" column="SERVICE_VERSION" />
		<result property="service_group" column="SERVICE_GROUP" />
		<result property="param_type" column="PARAM_TYPE" />
		<result property="params" column="PARAMS" />
		<result property="status" column="STATUS" />
		<result property="exception" column="EXCEPTION" />
		<result property="exception_remark" column="EXCEPTION_REMARK" />
		<result property="start_time" column="START_TIME" />
		<result property="end_time" column="END_TIME" />
			</resultMap>

	<select id="findDubboparamss" resultMap="Dubboparams" parameterType="com.ouyeel.provider.servicep.common.domain.Dubboparams">
		select
						  ID as "id"
						 ,   CODE as "code"
						 ,   INTERFACE_NAME as "interface_name"
						 ,   METHOD_NAME as "method_name"
						 ,   SERVICE_VERSION as "service_version"
						 ,   SERVICE_GROUP as "service_group"
						 ,   PARAM_TYPE as "param_type"
						 ,   PARAMS as "params"
						 ,   STATUS as "status"
						 ,   EXCEPTION_REMARK as "exception_remark"
						 ,   START_TIME as "start_time"
						 ,   END_TIME as "end_time"
						from XPLAT_DUBBO_PARAMS
		<where>
			<if test="id!=null">and  ID=#{id}</if>
			<if test="code!=null">and  CODE=#{code}</if>
			<if test="interface_name!=null">and  INTERFACE_NAME=#{interface_name}</if>
			<if test="method_name!=null">and  METHOD_NAME=#{method_name}</if>
			<if test="service_version!=null">and  SERVICE_VERSION=#{service_version}</if>
			<if test="service_group!=null">and  SERVICE_GROUP=#{service_group}</if>
			<if test="param_type!=null">and  PARAM_TYPE=#{param_type}</if>
			<if test="params!=null">and  PARAMS=#{params}</if>
			<if test="status!=null">and  STATUS=#{status}</if>
			<if test="exception_remark!=null">and  EXCEPTION_REMARK=#{exception_remark}</if>
			<if test="start_time!=null">and  START_TIME=#{start_time}</if>
			<if test="end_time!=null">and  END_TIME=#{end_time}</if>
					</where>
	</select>

	<select id="loadDubboparams" resultMap="Dubboparams" parameterType="com.ouyeel.provider.servicep.common.domain.Dubboparams">
		select
						  ID as "id"
						 ,   CODE as "code"
						 ,   INTERFACE_NAME as "interface_name"
						 ,   METHOD_NAME as "method_name"
						 ,   SERVICE_VERSION as "service_version"
						 ,   SERVICE_GROUP as "service_group"
						 ,   PARAM_TYPE as "param_type"
						 ,   PARAMS as "params"
						 ,   STATUS as "status"
						 ,   EXCEPTION as "exception"
						 ,   EXCEPTION_REMARK as "exception_remark"
						 ,   START_TIME as "start_time"
						 ,   END_TIME as "end_time"
						from XPLAT_DUBBO_PARAMS
		<where>
			<if test="id!=null">and  ID=#{id}</if>
			<if test="code!=null">and  CODE=#{code}</if>
			<if test="interface_name!=null">and  INTERFACE_NAME=#{interface_name}</if>
			<if test="method_name!=null">and  METHOD_NAME=#{method_name}</if>
			<if test="service_version!=null">and  SERVICE_VERSION=#{service_version}</if>
			<if test="service_group!=null">and  SERVICE_GROUP=#{service_group}</if>
			<if test="param_type!=null">and  PARAM_TYPE=#{param_type}</if>
			<if test="params!=null">and  PARAMS=#{params}</if>
			<if test="status!=null">and  STATUS=#{status}</if>
			<if test="exception!=null">and  EXCEPTION=#{exception}</if>
			<if test="exception_remark!=null">and  EXCEPTION_REMARK=#{exception_remark}</if>
			<if test="start_time!=null">and  START_TIME=#{start_time}</if>
			<if test="end_time!=null">and  END_TIME=#{end_time}</if>
					</where>
	</select>

	<select id="getDubboparams" resultMap="Dubboparams">
		select
						  ID as "id"
						 ,   CODE as "code"
						 ,   INTERFACE_NAME as "interface_name"
						 ,   METHOD_NAME as "method_name"
						 ,   SERVICE_VERSION as "service_version"
						 ,   SERVICE_GROUP as "service_group"
						 ,   PARAM_TYPE as "param_type"
						 ,   PARAMS as "params"
						 ,   STATUS as "status"
						 ,   EXCEPTION as "exception"
						 ,   EXCEPTION_REMARK as "exception_remark"
						 ,   START_TIME as "start_time"
						 ,   END_TIME as "end_time"
						from XPLAT_DUBBO_PARAMS
		where
		     					 ID=#{id}
																																																							</select>

	<select id="countDubboparamss" resultType="int" parameterType="hashmap">
		select
		count(*) from XPLAT_DUBBO_PARAMS
		 <where>
			<if test="id!=null">and  ID=#{id}</if>
			<if test="code!=null">and  CODE=#{code}</if>
			<if test="interface_name!=null">and  INTERFACE_NAME=#{interface_name}</if>
			<if test="method_name!=null">and  METHOD_NAME=#{method_name}</if>
			<if test="service_version!=null">and  SERVICE_VERSION=#{service_version}</if>
			<if test="service_group!=null">and  SERVICE_GROUP=#{service_group}</if>
			<if test="param_type!=null">and  PARAM_TYPE=#{param_type}</if>
			<if test="params!=null">and  PARAMS=#{params}</if>
			<if test="status!=null">and  STATUS=#{status}</if>
			<if test="exception!=null">and  EXCEPTION=#{exception}</if>
			<if test="exception_remark!=null">and  EXCEPTION_REMARK=#{exception_remark}</if>
			<if test="start_time!=null">and  START_TIME=#{start_time}</if>
			<if test="end_time!=null">and  END_TIME=#{end_time}</if>
					</where>
	</select>

	<update id="modifyDubboparams" parameterType="com.ouyeel.provider.servicep.common.domain.Dubboparams">
		update XPLAT_DUBBO_PARAMS
		set
						CODE = #{code}
					 , 		INTERFACE_NAME = #{interface_name}
					 , 		METHOD_NAME = #{method_name}
					 , 		SERVICE_VERSION = #{service_version}
					 , 		SERVICE_GROUP = #{service_group}
					 , 		PARAM_TYPE = #{param_type}
					 , 		PARAMS = #{params}
					 , 		STATUS = #{status}
					 , 		EXCEPTION = #{exception}
					 , 		EXCEPTION_REMARK = #{exception_remark}
					 , 		START_TIME = #{start_time}
					 , 		END_TIME = #{end_time}
					where
					 ID=#{id}
																</update>

	<insert id="addDubboparams" parameterType="com.ouyeel.provider.servicep.common.domain.Dubboparams">
		<selectKey keyColumn="ID" resultType="java.lang.Integer" keyProperty="id" order="BEFORE">
            SELECT XPLAT_DUBBO_PARAM.nextval from dual
        </selectKey>
		insert  into XPLAT_DUBBO_PARAMS (				ID
						,CODE
						,INTERFACE_NAME
						,METHOD_NAME
						,SERVICE_VERSION
						,SERVICE_GROUP
						,PARAM_TYPE
						,PARAMS
						,STATUS
						,EXCEPTION
						,EXCEPTION_REMARK
						,START_TIME
						,END_TIME
						)
		values(		#{id}
						,#{code}
						,#{interface_name}
						,#{method_name}
						,#{service_version}
						,#{service_group}
						,#{param_type}
						,#{params}
						,#{status}
						,#{exception}
						,#{exception_remark}
						,#{start_time}
						,#{end_time}
				)
	</insert>

	<delete id="removeDubboparams" parameterType="com.ouyeel.provider.servicep.common.domain.Dubboparams">
	delete from XPLAT_DUBBO_PARAMS
	<where>		<if test="id!=null"> and ID=#{id} </if>
			<if test="code!=null"> and CODE=#{code} </if>
			<if test="interface_name!=null"> and INTERFACE_NAME=#{interface_name} </if>
			<if test="method_name!=null"> and METHOD_NAME=#{method_name} </if>
			<if test="service_version!=null"> and SERVICE_VERSION=#{service_version} </if>
			<if test="service_group!=null"> and SERVICE_GROUP=#{service_group} </if>
			<if test="param_type!=null"> and PARAM_TYPE=#{param_type} </if>
			<if test="params!=null"> and PARAMS=#{params} </if>
			<if test="status!=null"> and STATUS=#{status} </if>
			<if test="exception!=null"> and EXCEPTION=#{exception} </if>
			<if test="exception_remark!=null"> and EXCEPTION_REMARK=#{exception_remark} </if>
			<if test="start_time!=null"> and START_TIME=#{start_time} </if>
			<if test="end_time!=null"> and END_TIME=#{end_time} </if>
		</where>
	</delete>

	<delete id="removeDubboparamsByKey">
	delete from XPLAT_DUBBO_PARAMS
	where
					 ID=#{id}
																</delete>

	<select id="loadDubboparamsE" resultMap="Dubboparams" parameterType="com.ouyeel.provider.servicep.common.domain.Dubboparams">
		select
						  EXCEPTION as "exception"

						from XPLAT_DUBBO_PARAMS
		<where>
			<if test="id!=null">and  ID=#{id}</if>
			<if test="code!=null">and  CODE=#{code}</if>
			<if test="interface_name!=null">and  INTERFACE_NAME=#{interface_name}</if>
			<if test="method_name!=null">and  METHOD_NAME=#{method_name}</if>
			<if test="service_version!=null">and  SERVICE_VERSION=#{service_version}</if>
			<if test="service_group!=null">and  SERVICE_GROUP=#{service_group}</if>
			<if test="param_type!=null">and  PARAM_TYPE=#{param_type}</if>
			<if test="params!=null">and  PARAMS=#{params}</if>
			<if test="status!=null">and  STATUS=#{status}</if>
			<if test="exception!=null">and  EXCEPTION=#{exception}</if>
			<if test="exception_remark!=null">and  EXCEPTION_REMARK=#{exception_remark}</if>
			<if test="start_time!=null">and  START_TIME=#{start_time}</if>
			<if test="end_time!=null">and  END_TIME=#{end_time}</if>
					</where>
	</select>

</mapper>